{% extends "base_sidebar.html" %}
{% block inner_content %}
{% load static %}
{% include "core/title.html" with title=title %}
<div class="section">
    <div class="table full-width">
        <div class="table-row">
            <div class="table-cell v-a-bottom gr-8">
                <div class="gr-3 offset">
                    <a href="#"
                        class="button button-primary button-block button-lg">Pagājušie</a>
                </div>
                <div class="gr-3 offset">
                    <a href="#"
                        class="button button-secondary button-block button-lg">Nākošie</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="offset">
        <div class="calendar">
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>06 Mar</div>
                        <hr>
                        <div>20:00</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        Optibet Virslīga
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        LDZ Cargo <span>0:0</span> Jēkabpils Lūši
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>18 Apr</div>
                        <hr>
                        <div>19:00</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        Latvijas kauss
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        LDZ Cargo <span>8:3</span> Petrow
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>3 Mar</div>
                        <hr>
                        <div>18:45</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        U-19 čempionāts
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        Nikars <span>0:0</span> Beitar
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>06 Mar</div>
                        <hr>
                        <div>20:00</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        Notikumi
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        Telpu futbola svētki
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>18 Apr</div>
                        <hr>
                        <div>19:00</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        Latvijas Kauss
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        LDZ Cargo <span>8:3</span> Petrow
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
            <div class="calendar-item">
                <div class="calendar-cell calendar-time-cell">
                    <div class="calendar-time">
                        <div>3 Mar</div>
                        <hr>
                        <div>18:45</div>
                    </div>
                </div>
                <div class="calendar-cell">
                    <div class="link">
                        U-19 čempionāts
                    </div>
                    <h3>
                        Daugavpils Olimpiskais centrs
                    </h3>
                    <h2>
                        Nikars <span>0:0</span> Beitar
                    </h2>
                </div>
                <div class="calendar-cell min-width">
                    <img src="{% static '/images/sportacentrs.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock inner_content %}
