{% extends "base_sidebar.html" %}
{% block inner_content %}
{% load static %}
{% include "core/title.html" with title=team.organisationName %}
<div class="section">
    <div class="offset">
        <h6 class="uppercase">Par komandu</h6>
    </div>
    <div class="offset">
        <div class="table full-width team-layout">
            <div class="table-cell gr-5">
                <div class="board">
                    <div class="board-content">
                        <div class="row team-layout_head">
                            {% if team.picture.value %}
                            <div class="gr-3 team-layout_logo">
                                <img src="data:image/png;base64, {{team.picture.value}}">
                            </div>
                            {% endif %}
                            <div class="gr-9 team-layout_links">
                                <a href="https://fknikars.lv" target="_blank">www.fknikars.lv</a><br>
                                Talr.: <a href="tel:29164073">29164073</a><br>
                                <a href="#">Facebook</a>
                            </div>
                        </div>
                        <h2 class="title uppercase">OFIC.PERSONAS</h2>
                        <div class="row team-layout_content">
                            <div class="gr-6">
                                <h6>Prezidents</h6>
                                Raimonds Valts
                                <br>
                                <br>
                                <h6>TRENERA ASISTENTS</h6>
                                Sergio Neves
                                <br>
                                <br>
                                <h6>Galvenais treneris</h6>
                                Orlando Francisco Alves Duarte
                            </div>
                            <div class="gr-6">
                                <h6>Ārsts</h6>
                                Sergiy Gavrrylenko
                                <br>
                                <br>
                                <h6>Izpilddirektors</h6>
                                Aleksandrs Dibrivnijs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-cell gr-7 team-layout_image">
                <img src="{% static '/images/team-image.jpg' %}">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="offset">
        <h6 class="uppercase">Sastāvs</h6>
    </div>
    <div class="offset">
        <table class="styled-table styled-table_big">
            <tr>
                <th colspan="2">Spēlētājs</th>
                <th colspan="2">Kartītes</th>
                <th>Vārti</th>
                <th>Vecums</th>
                <th>Tautība</th>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>1</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>2</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>3</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>4</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>5</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>6</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>7</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>8</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
            <tr class="styled-table_separated white">
                <td class="unbordered-r big min-width"><b>9</b></td>
                <td class="unbordered">Andrejs Baklanovs</td>
                <td class="unbordered-r big align-center color-danger-dark"><b>1</b></td>
                <td class="unbordered-l big align-center color-warning"><b>4</b></td>
                <td class="big align-center"><b>14</b></td>
                <td class="big"><b>21 04 Jun 1998</b></td>
                <td class="uppercase min-width">
                    <span class="flag-title">
                        <span class="flag-lv"></span>
                        Lat
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock inner_content %}
