{% extends "base_sidebar.html" %}
{% load static common_tags %}
{% block inner_content %}
<div class="section">
    <div class="offset">
        <form action="">
            <select name="season" class="select" onchange="this.form.submit()">
                {% for key, value in seasons.items %}
                    <option value="{{key}}" {% if current_season == key %}selected=""{% endif %}>{{value.name}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="offset">
        <br>
        <div class="tabs">
            {% for competition in competitions %}
                {% if competition.internationalName and competition.competitionFifaId %}
                    <a
                        href="?season={{current_season}}&competitionFifaId={{competition.competitionFifaId}}"
                        class="tab{% if current_competition_ID == competition.competitionFifaId %} active{% endif %}">
                        {{competition.internationalShortName}}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
    <div class="offset">
        <div class="logo-list">
            {% for m in matches_table %}
                {% if m.team.picture.value %}
                <a href="{% url 'team' m.id %}"><img src="data:image/png;base64, {{m.team.picture.value}}"></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="section" data-tab-wrap>
    <div class="offset">
        <div class="tabs">
            <a href="#table" data-tab="" class="link active">Tabula</a>
            <a href="#calendar" data-tab="" class="link">Kalendārs</a>
            <a href="#statistic" data-tab="" class="link">Statistika</a>
        </div>
    </div>
    <div class="offset">
        <div class="tab-panel active" data-tab-panel="table">
            <table class="styled-table styled-table_big">
                <tr>
                    <th colspan="2" class="nowrap">{{current_competition.internationalShortName}} komandas</th>
                    {% for m in matches_table %}
                    <th class="big">{{ forloop.counter }}</th>
                    {% endfor %}
                    <th colspan="2">Punkti</th>
                    <th>Vārti</th>
                </tr>
                {% for m in matches_table %}
                {% with place=forloop.counter %}
                <tr class="styled-table_separated">
                    <td class="big unbordered min-width"><b>{{place}}</b></td>
                    <td class="big unbordered"><a href="{% url 'team' m.id %}">{{m.team.internationalShortName}}</a></td>
                    {% for op in m.opponents %}
                        {% if place is 1 and forloop.counter is 1%}<td></td>{% endif %}
                        <td class="table-score">
                            {% for m in op.matches %}
                                {% if m.played %}
                                    <div class="{% if m.score.0 > m.score.1 %}table-score_positive{% elif m.score.0 < m.score.1 %}table-score_negative{% endif %}">
                                        {{m.score.0}}:{{m.score.1}}
                                    </div>
                                {% else %}
                                    <div>-:-</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% if place is forloop.counter|add:1 %}<td></td>{% endif %}
                    {% endfor %}
                    <td class="align-center"><b>{{m.points}}</b></td>
                    <td class="align-center"><b>{{m.percents}}%</b></td>
                    <td class="align-center"><b>{{m.total_score.0}}:{{m.total_score.1}}</b></td>
                </tr>
                {% endwith %}
                {% endfor %}
            </table>
        </div>
        <div class="tab-panel" data-tab-panel="calendar">
            <div class="calendar">
                {% for c in calendar %}
                <div class="calendar-item">
                    <div class="calendar-cell calendar-time-cell">
                        <div class="calendar-time">
                            <div>{{c.match.date|date:"d M"}}</div>
                            <hr>
                            <div>{{c.match.date|date:"H:i"}}</div>
                        </div>
                    </div>
                    <div class="calendar-cell">
                        <div class="link">
                            {{current_competition.internationalShortName}}
                        </div>
                        <h3>
                            {{c.match.facilityFifaId}}
                        </h3>
                        <h2>
                            <a href="{% url 'team' c.teams.0.teamFifaId %}">{{c.teams.0.internationalShortName}}</a>
                            {% if c.match.status == "PLAYED" %}
                            <span>{{c.match.getScore.0}}:{{c.match.getScore.1}}</span>
                            {% else %}
                            <span>-:-</span>
                            {% endif %}
                            <a href="{% url 'team' c.teams.1.teamFifaId %}">{{c.teams.1.internationalShortName}}</a>
                        </h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}
