.nav {
    display: block;
    padding: 0;
    list-style: none;
    font-size: em(24);
    font-family: $font-russoone;
    color: color("secondary");

    text-align: center;
    border-top: 3px solid color("secondary");
    border-bottom: 1px solid color("background", "darker");

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: em(17, 24);
            transition: color .1s ease;

            &:hover {
                color: color("danger", "dark");
            }
            &:after {
                content: "+";
                font-size: em(20, 24);
                color: color("secondary");
                margin-left: em(7, 20);
            }
        }
        &.active {
            a {
                color: color("danger", "dark");
            }
        }
    }
}
