version: '3'

services:
    db:
        image: postgres
        restart: always
    web:
        build: .
        command: sh ./docker-entrypoint.sh
        restart: always
        volumes:
            - .:/code
        ports:
            - "8000:8000"
        depends_on:
            - db
