.sponsors {
    @extend .row;
    margin-left: em(-8);
    margin-right: em(-8);

    .sponsors-offset {
        padding-left: em(8);
        padding-right: em(8);
        padding-bottom: em(16);
    }
}
.sponsor {
    @extend .contain-image;
    @include box(200, 66);
    display: block;
    border: 1px solid color("background", "darker");
}
