.tabs {
    font-size: em(14);
    text-transform: uppercase;
    font-weight: 700;
    color: color('secondary');

    .tab {
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding: em(8) 0;

        & + .tab {
            margin-left: em(50);
        }
        &:hover,
        &.active {
            color: color('primary');
            border-color: color('secondary');
        }
    }

    .link {
        padding-top: em(5);
        padding-bottom: em(5);
        
        & + .link {
            margin-left: em(13);
        }
    }
}
.tab-panel {
    display: none;

    &.active {
        display: block;
    }
}
