{% load text_tags %}

<footer class="footer">
    <div class="container">
        <div class="gr-4">
            {% text 'footer_1' as footer_1 %}
            {% if footer_1 is not None %}
            <div class="footer-section">
                <h6 class="uppercase">{{ footer_1.title }}</h6>
                <div class="wysiwyg">{{ footer_1.content|safe }}</div>
            </div>
            {% endif %}

            <div class="footer-section footer-section_extra-offset">
                <div class="social-wrap">
                    <a href="#" class="social-fb"></a>
                    <a href="#" class="social-instagram"></a>
                    <a href="#" class="social-tweeter"></a>
                    <a href="#" class="social-youtube"></a>
                </div>
            </div>
        </div>
        <div class="gr-4">
            {% text 'footer_2' as footer_2 %}
            {% if footer_2 is not None %}
            <div class="footer-section">
                <h6 class="uppercase">{{ footer_2.title }}</h6>
                <div class="wysiwyg">{{ footer_2.content|safe }}</div>
            </div>
            {% endif %}
        </div>
        <div class="gr-4">
            {% text 'footer_3' as footer_3 %}
            {% if footer_3 is not None %}
            <div class="footer-section">
                <h6 class="uppercase">{{ footer_3.title }}</h6>
                <div class="wysiwyg">{{ footer_3.content|safe }}</div>
            </div>
            {% endif %}
            {% text 'footer_4' as footer_4 %}
            {% if footer_4 is not None %}
            <div class="footer-section">
                <h6 class="uppercase">{{ footer_4.title }}</h6>
                <div class="wysiwyg">{{ footer_4.content|safe }}</div>
            </div>
            {% endif %}
        </div>
    </div>
</footer>
