{% load text_tags %}

<footer class="footer">
    <div class="container">
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_1' %}

            <div class="footer-section footer-section_extra-offset">
                <div class="social-wrap">
                    <a href="#" class="social-fb"></a>
                    <a href="#" class="social-instagram"></a>
                    <a href="#" class="social-tweeter"></a>
                    <a href="#" class="social-youtube"></a>
                </div>
            </div>
        </div>
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_2' %}
        </div>
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_3' %}
            {% include "core/footer_section.html" with slug='footer_4' %}
        </div>
    </div>
</footer>
