{% load text_tags %}

<footer class="footer">
    <div class="container">
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_1' %}
            <div class="footer-section footer-section_extra-offset">
                {% include "core/social.html" %}
            </div>
        </div>
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_2' %}
        </div>
        <div class="gr-4">
            {% include "core/footer_section.html" with slug='footer_3' %}
            {% include "core/footer_section.html" with slug='footer_4' %}
        </div>
    </div>
</footer>
