{% load page_tags nav_tags %}
{% menu_pages True as menus %}
<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="table full-width">
                <div class="table-cell v-a-middle">
                    {% include "core/social.html" %}
                </div>
                <div class="table-cell v-a-middle">
                    <div class="float-right">
                        <a href="#" class="link">Ienākt</a>
                        <b>&nbsp;|&nbsp;</b>
                        <a href="#" class="link">Reģistrēties</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="table full-width fixed-layout">
                <div class="table-cell">
                    <ul class="nav">
                        {% for p in menus.0 %}
                            <li class="{% active p.slug %}"><a href="{% url 'page' p.slug %}" title="{{p.title}}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="table-cell header-brand">
                    <a href="{% url 'home' %}" class="brand" title="LTFA"></a>
                </div>
                <div class="table-cell">
                    <ul class="nav">
                        {% for p in menus.1 %}
                            <li class="{% active p.slug %}"><a href="{% url 'page' p.slug %}" title="{{p.title}}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
