{% load page_tags %}
{% menu_pages True as menus %}
<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="table full-width">
                <div class="table-cell v-a-middle">
                    <div class="social-wrap">
                        <a href="#" class="social-fb"></a>
                        <a href="#" class="social-instagram"></a>
                        <a href="#" class="social-tweeter"></a>
                        <a href="#" class="social-youtube"></a>
                    </div>
                </div>
                <div class="table-cell v-a-middle">
                    <div class="float-right">
                        <a href="#" class="link">Ienākt</a>
                        <b>&nbsp;|&nbsp;</b>
                        <a href="#" class="link">Reģistrēties</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="table full-width fixed-layout">
                <div class="table-cell">
                    <ul class="nav">
                        {% for p in menus.0 %}
                            <li><a href="{% url 'page' p.slug %}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="table-cell header-brand">
                    <a href="{% url 'home' %}" class="brand"></a>
                </div>
                <div class="table-cell">
                    <ul class="nav">
                        {% for p in menus.1 %}
                            <li><a href="{% url 'page' p.slug %}">{{p.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
