<div class="offset">
    <a href="#" class="button button-secondary button-imaged button-block button-lg">
        <img src="./images/optibet-btn.jpg">
        Optibet Virslīga
    </a>
</div>
<div class="offset">
    <a href="#" class="button button-secondary button-imaged button-block button-lg">
        <img src="./images/li-btn.jpg">
        Latvijas Izlase
    </a>
</div>
<div class="offset">
    <div class="board align-center">
        <div class="board-content">
            <h2 class="title uppercase">Tuvākā spēle</h2>

            <div class="wysiwyg">
                <b>15 May 2019 20:45</b><br><br>
                Optibet Virslīga<br>
                Spuņciema Sporta halle
            </div>
        </div>
        <div class="versus versus-sm">
            <div class="versus-side">
                <img src="./images/team-1.png">
                <div>Beitar</div>
            </div>
            <div class="versus-side">
                <img src="./images/team-2.png" alt="">
                <div>Nikars</div>
            </div>
        </div>
        <a href="#" class="button button-block">Visas spēles</a>
    </div>
</div>
<div class="offset">
    <br>
    <h3>Jaunumi</h3>
</div>
<div class="offset">
    <a href="#" class="thumbnail">
        <div class="thumbnail-img" style="background-image: url('./images/image-1.jpg')"></div>
        <div class="thumbnail-content">
            <div class="thumbnail-title">Lorem ipsum dolor sit amet</div>
            <div class="thumbnail-subtitle">27.04.2019</div>
            <div class="thumbnail-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris
            </div>
        </div>
    </a>
</div>
<div class="offset">
    <a href="#" class="link">Visi jaunumi</a>
</div>
