{% load static page_tags %}

<div class="offset">
    <a href="#" class="button button-secondary button-imaged button-block button-lg">
        <img src="{% static '/images/optibet-btn.jpg' %}">
        Optibet Virslīga
    </a>
</div>
<div class="offset">
    <a href="#" class="button button-secondary button-imaged button-block button-lg">
        <img src="{% static '/images/li-btn.jpg' %}">
        Latvijas Izlase
    </a>
</div>
<div class="offset">
    <div class="board align-center">
        <div class="board-content">
            <h2 class="title uppercase">Tuvākā spēle</h2>

            <div class="wysiwyg">
                <b>20 Sep Fri 19:30</b><br><br>
                Optibet Virslīga<br>
                Elektrum Olimpiskais centrs,<br>
                Grostonas iela 6b
            </div>
        </div>
        <div class="versus versus-sm">
            <div class="versus-side">
                <img src="{% static '/images/team-3.png' %}" style="max-height:100px;">
                <div style="font-size: 0.7em;line-height: 1em;">FC Petrow</div>
            </div>
            <div class="versus-side">
                <img src="{% static '/images/team-4.png' %}" style="max-height:100px;">
                <div style="font-size: 0.7em;line-height: 1em;">RSU/BAO-Dobele</div>
            </div>
        </div>
        <a href="#" class="button button-block">Visas spēles</a>
    </div>
</div>
{% page_by_layout "news" as news_page %}
{% if news_page %}
<div class="offset">
    <br>
    <h3>{{news_page.title}}</h3>
</div>
{% endif %}
{% include "core/last_news.html" %}
{% if news_page %}
<div class="offset">
    <a href="{% url 'page' news_page.slug %}" class="link">Visi jaunumi</a>
</div>
{% endif %}
