<div class="section">
    <div class="row offset-wrap">
        <div class="gr-4 offset">
            <h2 class="title">Ziņas sociālos tīklos</h2>
            <br>
            <ul class="social-news">
                <li class="social-news_instagram">
                    <h6>ltfa_futsal</h6>
                    <div class="wysiwyg">
                        Mūsu puikas slīpē meistarību :) Vakar U19 izlase
                        aizvadīja ugunīgu maču ar Ungāriju,
                        kur <a href="#">@edgars10et10</a> guva divus <a href="#">#ceļšuzarēnu</a>
                    </div>
                </li>
                <li class="social-news_fb">
                    <h6>Latvijas Telpu Futbola asociācija - LTFA</h6>
                    <div class="wysiwyg">
                        Daugavpils spēlēs UEFA Futsal Čempionu līgā<br><br>
                        Debiju Eiropas sacensībās piedzīvos Daugavpils
                        komanda, kas nākamajā telpu futbola sezonā
                        startēs zem FC "Lokomotiv" nosaukuma<br><br>
                        <a href="#">https://ej.uz/loko_CL</a><br><br>
                        <a href="#">#ČempionuLīga</a> <a href="#">#TelpuFutbolsVieno</a>
                    </div>
                </li>
                <li class="social-news_tweeter">
                    <h6>ltfa_futsal</h6>
                    <div class="wysiwyg">
                        FC Nikers - SK Kengaroos [LTFA U-19 čempionāts
                        2018/19 Full Games]: <a href="#">http://youtu.be/chQZgkogtew?a</a> на <a href="#">@YouTube</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="gr-8 offset">
            {% include "core/sponsors.html" %}
        </div>
    </div>
</div>
