.button.button-secondary {
    background-color: color('background');
    color: color('secondary');
    border-color: color('danger', 'dark');
    text-transform: none;
    font-weight: 400;

    &.active {
        background-color: color('danger', 'dark');
        color: color('background');
        border-color: color('danger', 'dark');
        font-weight: 700;
    }
}
