.styled-table.styled-table_big {
    th, td {
        border: 1px solid color("background");
    }
    .table-score {
        border: 1px solid color("background", "darker");
    }
    .unbordered {
        border-width: 1px 0;
    }
    .unbordered-r {
        border-width: 1px 0 1px 1px;
    }
    .unbordered-l {
        border-width: 1px 1px 1px 0;
    }
    th, td {
        height: 57px;
    }
    th {
        padding: 21px 12px 18px;
    }
    td {
        padding: 11px 10px 9px;
    }
}
