.header {
    padding-top: 40px;

    .header-brand {
        width: 160px;
        text-align: center;

        .brand {
            display: inline-block;
        }
    }
    .nav {
        margin-top: 26px;
    }
    .header-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
