.accordion {
    .accordion_title {
        @extend .link;
        display: block;
        color: color("secondary");
        padding-top: em(18);
        padding-bottom: em(18);

        &.active {
            color: color("secondary");

            & + .accordion_content {
                display: block;
            }
        }
    }
    .accordion_content {
        display: none;
        padding-top: em(16);
        padding-bottom: em(16);
    }
    .accordion_wrap {
        border-bottom: 1px solid color("background", "darker");
    }
}
